<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlindType</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-inline-items navbar-shadow-line">
            <div class="display-flex">
                <a class="display-flex main-headline-stile" asp-area="" asp-controller="TypingMain" asp-action="Type">BlindType</a>
                <div class="nav-container">
                    <ul class="nav-fields display-flex">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="TypingMain" asp-action="Type">Typing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="StatsMain" asp-action="Stats">Stats</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="">
            &copy; 2024 - BlindType
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
